#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.properties
*.resources
*.xmi
*.snap
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/

*.settings/org.eclipse.wst.common.component
*.classpath
*.settings
*.project
*target
*.classpath
*.classpath
*.project
*.tern-project
*.factorypath
*.settings/
*.classpath
*.class
classes/
/build/
/.apt_generated/
/.settings
/.metadata
*.orig
/src/web/intranetAWB/mspi/build/*
/Servers/
/.sonarlint/
/RemoteSystemsTempFiles/
/.metadata/
/.gitignore
